<h1>Parties</h1>
<hr>

  <% @parties.each do |party| %>
  <div class="rows">
    <div  style="line-height: 5;" class="six columns">
      <h5>Group #: <%= party.id %></h5>
      <h6>Table #: <%= party.table %></h6>
    </div>
    <div  style="line-height: 5;" class="three columns">
      <%= button_to "VIEW", party_path(party.id), :class => "button-primary", :method => :get %>
    </div>
    <div  style="line-height: 5;" class="three columns">
      <%= button_to "DELETE", party, :method => :delete %>
    </div>
  </div>
  <hr class="divider">
  <% end %>
