<h1>Order #: <%= @order.id %></h1>
<hr>
<div class="rows">
  <h5>Order Complete: <%= @order.is_completed %></h5>
  <h5>Food Ordered: <%= @order.food_id %></h5>
  <h5>Party: <%= @order.party_id %></h5>
</div>
