<div class="row">
  <div class="nine columns">
    <h3>Welcome Back <%= @user.name %></h3>
  </div>

  <div class="three columns">
    <%= button_to "Log Out", deletion_station_path, method: :delete %>
  </div>
</div>
<div class="row">
  <div class="box-selector first-box">

  </div>
  <div class="box-selector second-box">

  </div>
  <div class="box-selector second-box">

  </div>
</div>
