html {
  background-image: url(pasta.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
}
body {
  margin: 0;
  height: 100%;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    /*padding: 8px;*/
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
}
.sub-nav {
}
.sub-nav a {
  font-size: 24px;
}
.sub-nav li {
  list-style-type: none;
}
.nav-x {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}
nav {
  background-color: #62021f;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin-bottom: 25px;*/
}
.margin-bottom-link {
  margin-bottom: 2.5rem;
}

.center {
  text-align: center;
}
.logo {
  font-family: 'Josefin Slab', serif;
  font-weight: 300;
  text-align: center;
  color: #fff;
  font-size: 45px;
}

.box-selector {
  display: inline-block;
  padding: 15px;
  height: 250px;
  width: 250px;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 250px;
  margin: 25px 5px;
}
.order {
  transition: background-color 0.5s ease;
  background: url(order.jpg) no-repeat;
  background-size: cover;
}
.party {
  background: url(party.jpg) no-repeat;
  background-size: cover;
}
.logout {
  background: url(logout.jpg) no-repeat;
  background-size: cover;
}
.block {
  display: inline-block;
  margin-right: 15px;
}
.menu-button {
  background: url(menu.jpg) no-repeat;
  background-size: cover;
}
.menu {
  margin-bottom: 25px;
}
.kitchen {
  background: url(kitchen-orders.jpg) no-repeat;
  background-size: cover;
}
.menu-item {
  width: 31%;
  display:inline-block;
  vertical-align: top;

}
.menu-name {
  font-weight: 700;
  display: inline;
  margin-bottom: 0;
}
.menu-desciption {
}
.menu-all {
  margin-bottom: 15px;
}
.black-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width:auto;
  z-index: 1;
}
.overlay-box {
  text-align: center;
  padding: 25px;
  background-color: white;
  z-index: 100;
  width: 250px;
  margin: 0 auto;

}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.center {
  text-align: center;
}
.container {
  min-height: 700px;
}
.divider {
  border: 1px dotted #d5d5d5;
}
.right {
  text-align: right;
}
.bold {font-weight: 700;}
.page-headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.last {
   border-bottom: 0;
}

@media (max-width: 799px) {
  .menu-item {
    width: 100%;
    display:block
  }
}
@media (max-width: 521px) {
  .u-full-width {
    font-size: 12px;
  }
  .u-full-width th {
    padding: 2px;
  }
  .u-full-width td {
    padding: 2px 0;
  }
}
@media (max-width: 549px) {
  .flexbox {
    display: block;
    text-align: center;
  }
  .box-selector {
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 18px;
  }
}
